h1{
    font-family: dongle;
    font-weight: 700;
    font-size: 60px;
}
.texto{
    font-family: dongle;
    font-size: 18px;
    padding: 20px;
}
#naranja {
    background-color: orange;
    animation: desplazamiento 3s ease-in-out;
    position: relative;
    left: 0;
}
#amarillo{
    background-color: palegoldenrod;
    animation: desplazamiento 3s ease-in-out 3s;
    position: relative;
    left: 0;
}
#rosa{
    background-color: pink;
    animation: desplazamiento 3s ease-in-out 6s;
    position: relative;
    left: 0;
}

@keyframes desplazamiento{
    from{
    left: 100%;
    }
    to{
        left: 0;;
    }
}